@import '../../../assets/variables';

.card {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 1rem;
  text-align: center;
  
  h3 {
    padding: 0px;
    margin: 0px;
  }

  h4 {
    text-align: start;
    padding: 0px;
    margin: 0px;
  }
  h5 {
    text-align: end;
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: $breakpoint_sm) {
  .card {
    h1 {
      font-size: 1rem;
    }
  }
}