.playerContainer {
    width: 100%;
    height: 100%;   
}

progress {
    --status-color: red;
    margin: 0.2rem 0 1rem 0;
    border-width: 1px;
    background-color: var(--color-main);
    border-color: var(--color-light);
    
    &.success {
      --status-color: green;
    }
    
    &.ok {
      --status-color: yellow;
    }
    
    color: var(--status-color);
    
    &::-moz-progress-bar  {
      background: var(--status-color);
    }
    
    &::-webkit-progress-value {
      background: var(--status-color);
    }
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--color-dark);
    color: var(--color-light);
    transition: font-size 240ms, height 250ms, width 250ms, margin 250ms, box-shadow 250ms;

    cursor: pointer;
}

.detailLink {
  display: flex;
  align-items: center;
  justify-content: center;
}