.matchContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: var(--color-main);
    cursor: pointer;
    text-decoration: none;
    color: var(--color-dark);
    border-radius: 20px;

    h2 {
      margin-top: 2rem;
    }

    h3, h5 {
      margin-top: 0.5rem;
    }

    h5 {
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      color: var(--color-main);

      &.lost {
        background-color: var(--color-loss);
      }

      &.win {
        background-color: var(--color-win);
      }
    }
}

.playerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--color-light);
    border-radius: 20px;
}

.detailLink {
  display: flex;
  align-items: center;
  justify-content: center;
}