.matchesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.matchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-medium);
  padding: 2rem;
  border-radius: 15px;
  gap: 2rem;
  cursor: pointer;
}

.matchInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.oinkyList {
  display: flex;
  flex-direction: column;
}

.oinky {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.matchWin {
  background-color: var(--color-win);
  color: var(--color-main);
}

.matchLoss {
  background-color: var(--color-loss);
  color: var(--color-main);
}