.container {
  display: grid;
  grid-template:
    "header header" auto
    "menu main" 1fr
    "footer footer" auto / auto 1fr;
  height: 100%;
  overflow: hidden;
}

.main {
  grid-area: main;
  overflow: auto;
  padding: 2rem;
  background-color: var(--color-main);
}

.menu {
    grid-area: menu;
    padding: 2rem;
    background-color: var(--color-main);
    border-right: 1px solid var(--color-light);

    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;

        li {
            padding-bottom: 1rem;
        }

        a {
            font-size: x-large;
            text-decoration: none;
            color: var(--color-light);
            font-weight: bold;
            transition: color 0.1s linear;
            
            &:hover {
                color: var(--color-dark);
            }
        }
    }
}

.content {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}