.header {
    grid-area: header;
    padding: 2rem;
    border-bottom: 1px solid var(--color-light);
    background-color: var(--color-main);
}

.logo {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-light);
    font-weight: bold;
}