:root {
  --color-main: white;
  --color-dark: #12130F;
  --color-light: #72727E;
  --color-contrast: #F5AC72;
  --color-highlight: #A5C882;
  --color-win: rgb(78, 147, 78);
  --color-loss: rgb(189, 128, 128);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: white;
    --color-dark: #12130F;
    --color-light: #72727E;
    --color-contrast: #F5AC72;
    --color-highlight: #A5C882;
    --color-win: rgb(78, 147, 78);
    --color-loss: rgb(189, 128, 128);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #12130F;
    --color-dark: rgb(150, 150, 150);
    --color-light: #72727E;
    --color-contrast: #F5AC72;
    --color-highlight: #A5C882; 
    --color-win: rgb(78, 147, 78);
    --color-loss: rgb(189, 128, 128);
  }
}

$breakpoint_xs: 0px;
$breakpoint_sm: 600px;
$breakpoint_md: 960px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 1920px;