name: Release new version
run-name: New version released by ${{ github.actor }}

on:
  push:
    branches:
      - main
      
jobs:
 upload-to-bucket:
  name: Upload to S3 bucket
  runs-on: ubuntu-latest
  environment:
    name: production
    url: https://app.ploinky.de
  steps:
    - name: Checkout code
      uses: actions/checkout@master
    - name: Set up nodejs
      uses: actions/setup-node@master
    - name: Install dependencies
      run: npm install
    - name: Build static assets
      run: npm run build
    - name: Upload assets to S3
      uses: jakejarvis/s3-sync-action@master
      env:
        AWS_S3_BUCKET: 'app.ploinky.de'
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        SOURCE_DIR: './dist'
  
 create-release:
  name: Create release
  runs-on: ubuntu-latest
  needs: upload-to-bucket
  steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    - name: Create github release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: false
        title: ${{ steps.date.outputs.date }}
        
 invalidate-cache:
  name: Invalidate cloudfront cache
  runs-on: ubuntu-latest
  needs: create-release
  steps:
    - name: Set up AWS CLI
      uses: ItsKarma/aws-cli@v1.70.0
    - name: Invalidate cache
      with:
        args: cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID }}
