.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--color-light);
  color: var(--color-dark);
  padding: 2rem;
  border-radius: 15px;
}

.goals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
  

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 20px;
  background-color: white;
  padding: 2rem;
}

table {
  border-collapse: collapse;
  color: var(--color-dark);
}

.scoreBoard {
  display: grid;
  grid-template: "team1 team2" 1fr / 1fr 1fr;
  gap: 1rem;
}

.scoreBoardHeading {
  border-bottom: 1px solid var(--color-dark);
}

.player td {
  padding: 0.5rem;
  vertical-align: middle;
}

.matchInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}