.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

table {
  border-collapse: collapse;
}
.scoreBoard {
  display: grid;
  grid-template: "team1 team2" 1fr / 1fr 1fr;
  gap: 1rem;
}

.scoreBoardHeading {
  border-bottom: 1px solid black;
}

.player td {
  padding: 0.5rem;
  vertical-align: middle;
}

.matchInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}